<div style="padding-left: 40px;" ng-show="mostrarSeasons">
	<h2>Seasons:</h2>
	
	<div style=" float: left; margin: 4px;" ng-repeat="season in listSeasons">

		<div class="list-group">
			<div class="list-group-item"><b>Season # </b>{{season.season_number}}</div>
			<div class="list-group-item"><b>No. of episodes: </b>{{season.episode_count}}</div>

			<a class="list-group-item" href="" ng-click="searchEpisodes(season.season_number)">
			<img ng-src="{{images+season.poster_path}}" width="120" height="180"/>
		</a>
		</div>	

	</div>	

<br/>

</div>