<div id="divEpisodes" ng-show="showEpisodes" style="padding-left: 40px;">
	<br/>
	<button class="btn btn-success btn-lg" ng-click="backSeasons()">
		<b><=== Back to Seasons</b>
	</button>
	<h2>Episodes:</h2>
	<br/>
	<div class="container">
		<div ng-repeat="episode in tvEpisodesList">

			<div class="row">
				<div class="col-md-1">
					<b>Episode {{episode.episode_number}}</b>
				</div>
				<div class="col-md-1">
					<button class="btn btn-info btn-md" ng-click="showInfoEpisode(episode)">
						{{episode.name}}
					</button>	
				</div>				
			</div>
			<!-- <a href="/#/television/{{idShow}}/season/{{season_number}}/episode/{{episode.id}}">
				<b>{{episode.name}}</b>
			</a> -->

			<br/>
		</div>

	</div>

</div>