<div>
    <div>
        <h1>Rating: </h1>        
        <a href="" ng-repeat="number in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index" ng-click="sendRating(number)">
            <img src="../images/starRating.png" width="45" height="45">
        </a>
    </div>
    <hr/>
    <div class="row">
        <movie-detail ng-model="view" />
    </div>
    
    <div class="row">
        <div class="col-md-6" ng-if="view.details.credits.cast.length > 0">
            <movie-cast ng-model="view.details.credits.cast" />
        </div>
        <div class="col-md-6" ng-if="view.details.credits.crew.length > 0">
            <movie-crew ng-model="view.details.credits.crew" />
        </div>
    </div>
</div>