<md-content md-whiteframe=5 class="contenidos">
    <div class="lastVisited" ng-repeat="entity in view.last">

    <div class="movieVisitedWrapper">
    	<div class="imgBox">
    		<img ng-src="{{view.images}}{{entity.poster_path}}">
    	</div>

    	<div>
    		<span class="title">{{entity.title}}</span>
    	</div>
    </div>

    </div>
</md-content>

<md-content md-whiteframe=5 class="contenidos">
    <popular-movies ng-model="view.movies.results" />
</md-content>

<md-content md-whiteframe=5 class="contenidos">
    <popular-tv ng-model="view.tv.results" />
</md-content>

<md-content md-whiteframe=5 class="contenidos">
    <popular-people ng-model="view.people.results" />
</md-content>





