.superContenedor{   
    
    //background-image: url(../mfinder/img/background.png); 
    background-color: #1B1B19;
    bottom: 0;
    
    
    #contenido{
    background-color: transparent;
    margin: 3%;
    padding: 10px;
    }
    
    
}
