<div ng-show="resultsList">

<style type="text/css">
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 20%;
		margin: auto;
	}
</style>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">

		<li ng-repeat="result in resultsList" ng-if="$index===0" data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li ng-repeat="result in resultsList" ng-if="$index>0" data-target="#myCarousel" data-slide-to="{{$index}}"></li>

	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox" >

		<div ng-repeat="result in resultsList" class="{{getItemType($index)}}">
			<center>
			<button type="button" class="btn btn-success">Tipo: {{result.media_type}} </button>
			</center>

			<a ng-if="result.media_type =='movie' || result.media_type =='person'" href="/#" data-toggle="modal" data-target="#myModal" ng-click="showMovieInfo(result.id, result.media_type)">
				<img ng-src="{{formatPath(result, result.media_type, view.images)}}" alt="Slide {{ $index+1 }}" width="360" height="245">
			</a>

			<a ng-if="result.media_type =='tv'" href="/#/television/{{result.id}}" ng-click="moveToDiv()">
				<img ng-src="{{formatPath(result, result.media_type, view.images)}}" alt="Slide {{ $index+1 }}" width="360" height="245">
			</a>

			<center>				
				<a ng-click="moveToDiv()" ng-if="result.media_type =='tv'" href="/#/television/{{result.id}}" style="font-size:16pt">More info about ... {{formatName(result, result.media_type)}}</a>
				<a ng-if="result.media_type =='movie'" href="" style="font-size:16pt" data-toggle="modal" data-target="#myModal" ng-click="showMovieInfo(result.id, result.media_type)">More info about ... {{formatName(result, result.media_type)}}</a>
				<a ng-if="result.media_type =='person'" href="" style="font-size:16pt" data-toggle="modal" data-target="#myModal" ng-click="showMovieInfo(result.id, result.media_type)">More info about ... {{formatName(result, result.media_type)}}</a>	
			</center>


		</div>

	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>		
		<span class="sr-only">Anterior</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Siguiente</span>
	</a>
</div>

<movie-trailer ng-model="currentId" ng-tipo="currentType"/>


</div>