<div ng-show="resultsList">

<style type="text/css">
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 20%;
		margin: auto;
	}
</style>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">

		<li ng-repeat="result in resultsList" ng-if="$index===0" data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li ng-repeat="result in resultsList" ng-if="$index>0" data-target="#myCarousel" data-slide-to="{{$index}}"></li>

	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox" ng-model="itemNum" ng-model="itemType">

		<div ng-repeat="result in resultsList" ng-init="itemNum=$index" class="{{itemType}}">

			<center>
			<button type="button" class="btn btn-success">Tipo: {{result.media_type}} </button>
			</center>

			<img ng-src="{{ view.images }}{{ result.profile_path }}" ng-if="result.profile_path" alt="Slide {{ $index+1 }}" width="360" height="245">

			<img ng-src="{{ view.images }}{{ result.poster_path }}" ng-if="result.poster_path" alt="Slide {{ $index+1 }}" width="360" height="245">

			<center>
				<button type="button" 
				class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="showMovieInfo(result.id, result.media_type)">{{ result.name || result.title }}
				</button>
			</center>

		</div>

	</div>

	<!-- Left and right controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Anterior</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Siguiente</span>
	</a>
</div>

<movie-trailer ng-model="currentId" ng-tipo="currentType"/>


</div>