.awesome-search {
	padding: 10px;

	.awesome-search-results {
		padding: 20px;

		li {
			list-style: none;
            max-width: 25%;
            overflow-x: hidden;
            height: 225px;
            margin-bottom: 30px;

            a {

                span.badge {
                    position: absolute;
                    left: 10px;
                    bottom: 20px;
                }

                img {
                }

                span.blank {
                    margin-bottom: 25px;
                    min-height: 135px;
                    margin: 0;
                    padding: 0;
                    border: 1px solid black;
                    display: inline-block;
                }

            }
            span {
                a {
                    position: absolute;
                    bottom: 0px;
                    left: 20px;
                }
            }
		}
	}

}
