<form class="" ng-submit="$event.preventDefault()">
    <md-autocomplete
            ng-disabled="view.isDisabled"
            md-no-cache="true"
            md-selected-item="view.selectedItem"
            md-search-text-change="view.searchTextChange(view.searchText)"
            md-search-text="view.searchText"
            md-selected-item-change="view.selectedItemChange(item)"
            md-items="item in view.getData()"
            md-item-text="item.title || item.name"
            md-min-length="3"
            placeholder=" Search "
            md-menu-class="autocomplete-custom-template"
            md-delay="600">
        <md-item-template>
          <a href="#/{{item.media_type}}/{{item.id}}">
          <span class="item-title">
            <img ng-src="{{view.images}}{{item.foto}}" width="50">
            <span> {{item.title || item.name}} </span>
          </span>
          <span class="item-metadata">
            <span class="item-metastat">
              <span class="badge">{{item.media_type}}</span>
            </span>
            <span class="item-metastat">
              <span class="badge">Rate: {{item.vote_average || item.popularity}}</span>
            </span>
          </span>
          </a>
        </md-item-template>
        <md-not-found>
            Sorry, no info about "{{SearchController.searchText}}" were found.
        </md-not-found>
    </md-autocomplete>
</form>
