<div>

<div class="dropdown" >
  <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"><h4><b>Recent search about movies</b></h4>
  <span class="caret"></span></button>
  <ul class="dropdown-menu" if="recentSearch.length>0">
    <li ng-repeat="movie in recentSearch" ng-if="$index < 10">
    	<a href="" ng-click="showMovieInfo(movie.id, 'movie')">{{movie.name}}</a>
    </li>
  </ul>
  <ul class="dropdown-menu" ng-if="recentSearch.length==0">
  	<center><li>No recent search</li></center>
  </ul>  
</div>

<!-- <div ng-if="!view.authenticated" class="pull-right login-container">
        <login></login>
</div> -->

</div>