<div class="crslCont" layout="column">                
                
    <div class="titl" flex>
        <span>Peliculas</span>
    </div>                          
            
    <div id="nav-p" class="crsl-nav" layout="row" flex>

        <div class="divLeft " flex>
            <a class="previous glyphicon glyphicon-backward "></a>
        </div >

        <div class="divRight"flex >
            <a class="next glyphicon glyphicon-forward"></a>
        </div>        
                
    </div> 
            
    <div id="PopMG"class="crsl-items" data-navigation="nav-p" flex>  


            <div class="crsl-wrap">

                <figure class="crsl-item">
                    <div class="card-container">
                    <md-card>
                        <img ng-src="mfinder/img/leon-poster.jpg" class="md-card-image" alt="Hey Apple!">
                      </md-card>
                    </div>    
                </figure>
                
                <figure class="crsl-item">
                    <div class="card-container">
                    <md-card>
                        <img ng-src="mfinder/img/leon-poster.jpg" class="md-card-image" alt="Hey Apple!">
                      </md-card>
                    </div>    
                </figure>
                
                <figure class="crsl-item">
                    <div class="card-container">
                    <md-card>
                        <img ng-src="mfinder/img/leon-poster.jpg" class="md-card-image" alt="Hey Apple!">
                      </md-card>
                    </div>    
                </figure>
                
                <figure class="crsl-item">
                    <div class="card-container">
                    <md-card>
                        <img ng-src="mfinder/img/leon-poster.jpg" class="md-card-image" alt="Hey Apple!">
                      </md-card>
                    </div>    
                </figure>
                
                <figure class="crsl-item">
                    <div class="card-container">
                    <md-card>
                        <img ng-src="mfinder/img/leon-poster.jpg" class="md-card-image" alt="Hey Apple!">
                      </md-card>
                    </div>    
                </figure>
                
                <figure class="crsl-item">
                    <div class="card-container">
                    <md-card>
                        <img ng-src="mfinder/img/leon-poster.jpg" class="md-card-image" alt="Hey Apple!">
                      </md-card>
                    </div>    
                </figure>
                



            </div>                                
        </div>
                
</div>

