
   <div class="about-carousel">

       
    <div ng-repeat="movie in movieList track by $index" ng-repeat-owl-carousel carousel-init="carouselInitializer">
       
       
           
       
      <md-card style="width:250px;"title="{{ movie.title }}" ng-if="movie.poster_path"   >        
       <a  href="#/movie/{{ movie.id }}" >
          <img  src="{{view.images}}{{ movie.poster_path }}"title="{{ movie.title }}" />
           
       </a>
        
      </md-card>
        
        
        
    </div>
    
</div>
