<div class="login">
    <form class="navbar-form navbar-right" role="search">

        <div class="input-group input-group-sm">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" placeholder="Username" ng-model="view.username" aria-describedby="sizing-addon3">
        </div>

        <div class="input-group input-group-sm">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            <input type="password" class="form-control" placeholder="Password" ng-model="view.password" aria-describedby="sizing-addon3">
        </div>

    <button class="btnLogin btn btn-primary btn-sm" ng-click="authenticate($event)"><span class="glyphicon glyphicon-arrow-right"></span></button>
    </form>

</div>