<div class="season">
    <div md-whiteframe="5" class="seasonContainer row">


        <div class="seasonImgWrapper col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img align="left" class="seasonImg pull-left" ng-src="{{view.images}}{{ view.details.poster_path }}"title="{{ view.details.name }}" />
        </div>



        <div class="seasonData col-xs-12 col-sm-7 col-md-7 col-lg-7">


            <div class="seasonTitle ">
                {{view.details.name}}
            </div>

            <div class="seasonOverview ">
                <span class="overviewTitle">Overview:</span>
                <p class="overviewContent"> {{view.details.overview}}</p>
            </div>

            <div class="seasonButtons">
                <md-button class="md-raised md-warn" href="/tv/{{view.details.tv_id}}/season/{{view.details.season_number}}">
                    More info
                </md-button>
            </div>

        </div>

    </div>
</div>