<div class="season">
    <div class="seasonContainer row">

        <div class="seasonImg col-sx-4 col-sm-4 col-md-4 col-lg-4">
            <img  ng-src="{{view.images}}{{ details.poster_path }}"title="{{ details.name }}" />
        </div>


        <!--<md-card>-->
            <!--<md-card-title>-->
                <!--<md-card-title-text>-->
                    <!--<span class="md-headline">Card with  image</span>-->
                    <!--<span class="md-subhead">Extra Large</span>-->
                <!--</md-card-title-text>-->
            <!--</md-card-title>-->
            <!--<md-card-content layout="row" layout-align="space-between">-->
                <!--<div class="md-media-xl card-media">-->
                    <!--<img  ng-src="{{view.images}}{{ details.poster_path }}"title="{{ details.name }}" />-->
                <!--</div>-->
                <!--<md-card-actions layout="column">-->
                    <!--<md-button class="md-icon-button" aria-label="Favorite">-->
                        <!--<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button class="md-icon-button" aria-label="Settings">-->
                        <!--<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>-->
                    <!--</md-button>-->
                    <!--<md-button class="md-icon-button" aria-label="Share">-->
                        <!--<md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>-->
                    <!--</md-button>-->
                <!--</md-card-actions>-->
            <!--</md-card-content>-->
        <!--</md-card>-->

        <div class="seasonData col-sx-8 col-sm-8 col-md-8 col-lg-8">

            <div class="seasonTitle">
                Title: {{details.name}}
            </div>

            <div class="seasonOverview">
                Overview: {{details.overview}}
            </div>

        </div>

    </div>
</div>